nav {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  background: wheat;
}

nav .burger {
  color: #1fa637;
  font-size: 20px;
  display: none;
}

nav .logo-sm {
  display: none;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo {
  fill: #1fa637;
  position: absolute;
  max-width: 100px;
  height: auto;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  z-index: 1;
}

nav .nav-item {
  padding: 0 10px;
}

.nav-login {
  color: #1fa637;
  cursor: pointer;
}

.nav-login:hover {
  color: #8d9297;
}

.nav-signup {
  color: #1fa637;
  border: 1px solid #1fa637;
  border-radius: 20px;
  padding: 7px 20px;
  cursor: pointer;
}

.nav-signup:hover {
  color: #8d9297;
}

.black-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  opacity: 0.4;
}

/*******************/
/*****RESPONSIVE****/
/*******************/

@media all and (max-width: 1440px) {
  nav {
    height: 10vh;
  }
}

@media all and (max-width: 1024px) {
  nav {
    height: 8vh;
  }

  nav .burger {
    display: block;
    cursor: pointer;
  }

  nav .logo-container {
    display: absolute;
    align-items: center;
    margin: 0px auto;
    margin-left: 43%;
  }

  nav .logo-sm {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
  }

  nav .nav-links {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 0px;
    font-size: 0.8rem;
    width: 50%;
    background: rgb(21, 42, 54);
    margin: 0;
    transform: translateX(-700px);
    transition: 0.3s ease-in-out;
  }
  .m-menu {
    list-style-type: none;
    position: relative;
    text-align: center;
    z-index: 101;
  }

  nav .mobile {
    padding-top: 60px;
  }

  nav .nav-links li {
    padding: 10px 20px;
    margin: 0;
    font-size: 1rem;
  }

  nav .nav-links li a {
    color: #fff;
  }

  nav .logo {
    max-width: 80px;
  }

  .nav-login {
    color: #8d9297;
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  nav .nav-links {
    width: 80%;
  }
}
